@charset "UTF-8";
body {
	margin: 0px;
	font-family:"微軟正黑體";
	padding-top: 30px;
	text-align: justify;
	text-justify:inter-ideograph;
}
a{
	color: black;
}
#clear{
	clear: both;
}
#holder{
	width: 1000px;
	margin: 0 auto;
}
#left{
	float: left;
	width: 190px;
	padding-right: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	text-align: right;
	padding-bottom: 30px;
}
#right{
	float: left;
	width: 730px;
	margin-left: 30px;
}
#cart table tr td{
	line-height: 100px;
}
#user table tr td{
	line-height: 50px;
}

#menu ul li{
	font-size: 16px;
	list-style: none; 
	line-height: 32px;

}
#menu ul li a{
	color: black;
}
#menu ul li a:hover{
	font-weight: 800;
	text-decoration: none;
	cursor: pointer;

}
.menu_title{
	font-family:Myriad Pro; font-weight:semiblod; font-size:14px;
}
#Category ul li{
	font-size: 14px;
	list-style: none; 
	line-height: 28px;
}
#Category ul li a{
	color: black;
}
#Category ul li a:hover{
	font-weight: 800;
	text-decoration: none;
	cursor: pointer;
	
}
#footer{
	font-size: 12px;
	line-height: 20px;
}
/*左邊結束*/
#index_news_title{
	font-size: 24px;
	color: black;
	margin-left: 35px;
}
#idnex_news_date{
	font-size: 13px;
	color: #999797;
	margin-top: 10px;
	margin-left: 35px;
}
#idnex_news_content{
	color: #484848;
	font-size: 13px;
	margin-top: 10px;
	line-height: 20px;
	margin-left: 35px;
	text-align: justify;
	text-justify:inter-ideograph;
}
#index_cate_holder{
	margin-left: 35px;
	margin-top: 30px;
}
.index_cate{
	margin-right: 15px;
	margin-bottom: 15px;
	width: 205px;
	text-align: center;
	overflow: hidden;
	height: 220px;
	float: left;
}
.index_cate .title{
	font-size: 18px;
	color: #484848;
	font-weight: bold;
	line-height: 24px;
}
.index_cate .cate {
	font-size: 12px;
	color:  #999797;
	line-height: 18px;
}
.index_cate img{
	height: 165px;
	width: auto;
}
#about_contact{
	width: 240px;
	float: left;
}
#googlemap{
	float: left;
	margin-left: 40px;
}
.driections{
	width: 700px;
	height: auto;
	margin: 0 auto;
	min-height: 200px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 24px; 
}
.driections .left{
	float: left;
	width: 100px;
	vertical-align: middle;
	min-height: 50px;
}
.driections .right{
	float: left;
	width: 550px;
	vertical-align: middle;
	min-height: 50px;
	margin-left: 40px;
}
.cate_box{
	margin-right: 15px;
	margin-bottom: 30px;
	padding: 5px;
	width: 220px;
	text-align: left;
	overflow: hidden;
	height: 260px;
	float: left;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
-moz-box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
}
.cate_box .title{
	font-size: 20px;
	font-weight: normal;
	color: black;
	margin-top: 5px;
}
.cate_box .price{
	font-size: 20px;
	color: #af201a;
}
.cate_box .sprice{
	font-size: 14px;
	color: #888888;
}
#productbanner{
	width: 550px;
	height: 550px;
	float: left;
}
.pager-holder{
	float: left;
	width: 100px;
	min-height: 600px;
}
#bx-pager a img{
	margin-bottom: 10px;
}
.product_text{
	padding: 5px;
	width: 500px;
	text-align: left;
	overflow: hidden;
	min-height: 165px;
	float: left;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
-moz-box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
box-shadow: 0px 0px 5px 3px rgba(174,174,174,0.75);
}
#product{
	margin-left: 40px;
}
.product_price{
	float: left;
	width: 100px;
	text-align: center;
	margin-left: 15px;
}
.product_price .price{
	font-size: 15px;
	color: #ff1e00;
	font-weight: bold;
}
.product_price .sprice{
	font-size: 14px;
	color: #888888;
}
#buyit{
 background-image: url(../import/buyit.png);
 cursor: pointer;
 width: 251px;
 height: 50px;
 margin: 10px auto;
 margin-top: 30px;
}
#buyit:hover{
 background-image: url(../import/buyit_on.png);
 }
 .product_content{
 	width: 620px;
	height: auto;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding-bottom: 30px;
 }